<% content_for :title, "Editing career" %>

<h1>Editing career</h1>

<%= render "form", career: @career %>

<br>

<div>
  <%= link_to "Show this career", @career %> |
  <%= link_to "Back to careers", careers_path %>
</div>
