<p style="color: green"><%= notice %></p>

<% content_for :title, "Careers" %>

<h1>Careers</h1>

<div id="careers">
  <% @careers.each do |career| %>
    <%= render career %>
    <p>
      <%= link_to "Show this career", career %>
    </p>
  <% end %>
</div>

<%= link_to "New career", new_career_path %>
