<h1>Lista de Vagas</h1>
<%= search_form_for @q, url: root_path, method: :get do |f| %>
 <%= render 'search_positions', positions: @positions %>
<% end %>
<br>
 <% if @positions.any? %>
  <%= render 'positions_list', positions: @positions %>
    <% else %>
      <tr>
        <td colspan="3">Nenhuma vaga encontrada.</td>
      </tr>
    <% end %>
 

<div class="pag-bar mt-5 pt-5">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>


